.timeline {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.timeline div {
  padding: 20px;
  border-bottom: 3px solid var(--accent);
  transition: 0.3s;
}

.timeline div:hover {
  transform: scale(1.1);
  color: var(--accent);
}